.HeaderLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin: 1rem 3rem;
}

.disp_setting {
  display: flex;
  align-items: center;
  gap: 1rem;
}
