.SupportPage {
  height: 100vh;
  width: 100%;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background-color: #00000030;
}

.main_container {
  padding: 35px;
  height: 80%;
  width: 100%;
  border-radius: 0px 8px 8px 8px;
  box-shadow: 0px 0px 12px 5px rgba(3, 3, 3, 0.1) inset;
  background-color: #0000002f;
  flex-direction: column;
  display: flex;
  justify-content: end;
  gap: 25px;
}

.container_text {
  font-size: 12px;
  font-weight: 400;
  color: #73ffcc;
  padding: 15px 15px;
  width: fit-content;
  background-color: #00000090;
  border-radius: 12px 12px 12px 0px;
}

.container_text1 {
  margin-top: 10px;
  font-size: 10px;
  font-weight: 400;
  color: #ffff;
}

.container_text2 {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #42bbff;
}

.footer_container {
  padding: 25px;
  height: 100px;
  width: 100%;
  background-color: #00000065;
}

.text_chat {
  display: flex;
  justify-content: flex-end;
  color: white;
}

.event {
  color: white;
  font-size: 14px;
  font-weight: 400;
  background-color: #00000090;
  padding: 15px 15px;
  border-radius: 12px 12px 12px 0px;
}

.input_box {
  color: white;
  font-size: 14px;
  font-weight: 400;
  background-color: #00000090;
  padding: 15px 15px;
  border-radius: 5px;
  width: 90%;
  border: 2px solid #42bbff;
  height: 60px;
  display: flex;
  align-items: center;

  &:hover,
  &:active {
    border: 2px solid red;
  }
}

.button_box {
  color: #42bbff;
  font-size: 40px;
  border: none;
  background-color: #00000013;
  cursor: pointer;
  margin-left: 30px;
}

.footer_container_style {
  display: flex;
  align-items: center;
}
