.BuyersVisited {
  height: 100vh;
  width: 100%;
}

.wrapper {
  padding: 5px 25px;
}

.wrapper_box {
  display: flex;
  gap: 6px;
}

.box {
  display: flex;
  justify-content: center;
  border-radius: 25px;

  &1 {
    color: #42bbff;
    background-color: #161717;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px 7px 0 0;
  }

  &2 {
    color: #adb3cc;
    background-color: #242424;
    height: 40px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px 7px 0 0;
    box-shadow: 0px 2px 2px 2px rgba(3, 3, 3, 0.2) inset;
  }

  &3 {
    color: #adb3cc;
    background-color: #242424;
    height: 40px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 2px 2px 2px rgba(3, 3, 3, 0.2) inset;
  }
}

.container {
  height: 760px;
  width: 100%;
  background-color: #161717;
  border-radius: 0 5px 5px 5px;
  box-shadow: 0px 0px 5px 2px rgba(3, 3, 3, 0.1) inset;
  padding: 30px;
}

.container_box {
  height: 690px;
  width: 100%;
  background-color: #00000030;
  border-radius: 24px;
}

.tittle_line {
  height: 50px;
  color: white;
  gap: 10px;
  display: grid;
  grid-template-columns: 90px 100px 130px 180px 180px 200px;
  border-bottom: 2.4px solid rgba(0, 0, 0, 0.494);
  column-gap: 50px;
}

span {
  font-size: 16px;
  padding: 15px;
}

.list_pages {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 17px;
  gap: 15px;
  color: white;
}

.graph_box {
  margin-top: 20px;
  height: 363px;
  width: 100%;
  background-color: #050505;
  border-radius: 24px;
}

.footer_wrapper {
  display: flex;
  gap: 40px;
}

.reg {
  margin-top: 4rem;
  padding: 5px 30px;
  height: 41px;
  width: 20%;
  background-color: #0000;
  border: 1px solid #42bbff;
  color: #42bbff;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.reg:hover {
  margin-top: 4rem;
  padding: 5px 30px;
  height: 41px;
  width: 20%;
  color: #090808;
  background-color: #e6e6e6;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
}
