.CardFooter {
  display: flex;
  justify-content: space-between;
}

.priceHeight {
  font-size: 16px;
  font-weight: 400;
}

.arrowStyle {
  height: 25px;
  width: 25px;
  font-size: 18px;
  font-weight: 500;
  color: green;
}

.green {
  color: green;
}

.red {
  color: red;
}
