.LightMode {
  display: flex;
  justify-content: center;
}

.light_mode_btn {
  display: flex;
  align-items: center;
  border: none;
  background-color: #242424;
  cursor: pointer;
}

.light_mode_text {
  color: #55597d;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 10px;
}
